#navbar{

}

            /* home */

@media(max-width:986px){
    #navbar .btn{
        position: fixed;
        right: 0px;
    }
    #home h1{
        display: block;
        width: 100%;
        /* border: 2px red solid; */
        /* background-color: rgb(73, 24, 233); */

    }
    #home{
        padding: 3px 100px;
        height: 350px;
    }
    #home::before{
        height: 370px;
    }
    /* reason */

    
    #Reason_Why_StartUp{
        padding: 3px 60px;
    
    }
}
/* 805 px ki baate krenge */
@media(max-width:810px){
    #navbar .btn{
        position: fixed;
        right: 0px;
        font-size: 0.8rem;
    }
    #navbar{
        flex-direction: column;

    }
    #navbar ul li a{
        font-size: 1.2rem;
    }
    #home h1{
        display: block;
        width: 100%;
        /* border: 2px red solid; */
        /* background-color: rgb(73, 24, 233); */

    }
    #home{
        padding: 3px 25px;
        height: 409px;
    }
    #home::before{
        height: 419px;
    }
    /* reason */

    
    #Reason_Why_StartUp{
        padding: 3px 25px;
    
    }
    #Why_choose_us{
        padding: 3px 25px;
    
    }
}
/* 674 px ki baate krenge */
@media(max-width:674px){
    *{
        font-size: 0.8rem;
    }
    #navbar{
        flex-direction: column;

    }
    #home h1{
        display: block;
        width: 100%;
        /* border: 2px red solid; */
        /* background-color: rgb(73, 24, 233); */

    }
    #home{
        padding: 3px 3px;
        height: 409px;
    }
    #home::before{
        height: 419px;
    }
    /* reason */
    #Reason_Why_StartUp::before
    {
        background: url(reason1.jpg)no-repeat center right/cover;
          content: "";
       
     }  
    
   
    #clients{
        flex-wrap: wrap;
    }
    .client-item
{
    padding: 20px;
}
#clients img
{
    border-radius: 30px;

    height: 60px;
}

}
/* 444 px ki baate krenge */
@media(max-width:444px){
    *{
        font-size: 0.6rem;
    }
    #navbar ul li a {
        /* display block isliye diya taki hme padding de sake  */
                color: white;
                display: block;
                padding: 3px 10px ;
                border-radius: 20px;
                text-decoration: none;
                
    }
    
}

/* for before 356 px */

@media(max-width:356px){
    *{
        font-size: 0.6rem;
    }
    #services .box img
{
    height: 160px;
    width: 200px;
} 
#Reason_Why_StartUp::before
{
    background: url(reason1.jpg)no-repeat center right/cover;
      content: "";
   
 }  
 #Why_choose_us::before
{
    content: "";

    background : url(choose.jpg)right right/cover;
   
 }  
    
}
    /* for 314px  */
@media(max-width:314px){
    #services .box img
    {
        height: 160px;
        width: 150px;
    } 
}

/* for 262px */
@media(max-width:262px){
    #services .box
{
    padding: 4px;
    margin: 0px 6px 0px 6px;
    border-radius: 23px;
   
}
   
    #services
{
   /* position: relative; */
   /* top: 450px; */
    margin: 3px;
}
}

/* for 235px */
@media(max-width:235px){
    *{
        font-size: 0.4rem;
    }

    #services .box img
    {
        height: 145px;
        width: 95px;
       
    } 
   
    .client-item
    {
        padding: 10px;
    }
    #clients img
    {
        border-radius: 30px;
    
        height: 60px;
    }
    #navbar .btn{
        position: relative;
        right: 0px;
    }
    
}

/* for 202 px */
@media(max-width:202px){

#members_box{
   
margin: 3px;

}
#members_box .box
{
    padding: 3px;
    margin: 2px 2px 2px 2px;
    border-radius: 23px;
    border: 1px solid brown;
    background-color: rgb(240, 233, 233);

}
#members_box .box img
{
    height: 120px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 30px;
} 
}

/* 186 px */
@media(max-width:235px){
    #client-section
    {
        z-index: -1;
    
        position: relative;
        /* sirf utni hi jagah lega jitni isko chahiye  */
        height: 400px;
    
    }
}




#members_box{
    flex-direction: column;

}



.services-container{

}


#services{
    flex-direction: column;

}


#client-section
{

}

#clients{

}

